#This section determines which DIRAC components will be installed and where
LocalInstallation
{
  #To install the Server version of DIRAC (the default is client)
  InstallType = server
  UseVersionsDir = True
  #The directory of the DIRAC software installation
  TargetPath = /opt/dirac
  Project = DIRAC
  #Default name of system instances
  InstanceName = <%= @dirac_config_args['instance'] %>

  #Flag determining whether the Web Portal will be installed
  WebPortal = no
  InstancePath = /opt/dirac
  RootPath = /opt/dirac/pro
  Extensions = <%= @all_extensions.join(",") %>
  <% if @webportal %>
  WebApp = yes
  <% end %>
}
DIRAC
{
  Setup = <%= @dirac_config_args['setup'] %>
  #  VirtualOrganization = <%= @dirac_config_args['vo'] %>
  Extensions = <%= @all_extensions.join(",") %>
  Hostname = <%= @server_name %>
  Security
  {
  }
  Setups
  {
    DIRAC-Certification
    {
      Configuration = Certification
      Framework = Certification
      DataManagement = Certification
      Monitoring = Certification
      WorkloadManagement = Certification
      RequestManagement = Certification
      Accounting = Certification
      ResourceStatus = Certification
      Tornado = Certification
      Transformation = Certification
    }
  }
  Configuration
  {
    <% if @master_cs %>
    Master = yes
    Name =  <%= @master_config_name %>
    <% end %>
    Servers = <%= @dirac_config_args['cs_servers'][0] %>
    <%# here we put 10 as end because -1 does not work %>
    <% @dirac_config_args['cs_servers'][1, 10].each do |srv| %>
      Servers += <%= srv -%>
    <% end %>
  }
}
LocalSite
{
  Site = <%= @server_name %>
}
Systems
{
  Databases
  {
    User = Dirac
    Password = %TEIGI__<%= @dirac_config_args['setup'] %>_dbPassword__%
  }
  NoSQLDatabases
  {
    User = dirac
    Password = %TEIGI__<%= @dirac_config_args['setup'] %>_nosqlPassword__%
    Host = es-dirac-certification.cern.ch/es
  }
  <% if @master_cs %>
  # This local configuration is needed for bootstrap
  Configuration
  {
    Certification
    {
      Services
      {
        Server
        {
          HandlerPath = DIRAC/ConfigurationSystem/Service/TornadoConfigurationHandler.py
          MaxThreads = 500
          Port = 9135
          Authorization
          {
            Default = all
            commitNewData = CSAdministrator
            rollbackToVersion = CSAdministrator
            getVersionContents = ServiceAdministrator
            getVersionContents += CSAdministrator
          }
        }
      }
    }
  }
  <% end %>
}
Resources
{
  MQServices
  {
    lhcb-test-mb.cern.ch
    {
      MQType = Stomp
      Port = 61713
      User = certifdirac
      Password = %TEIGI__<%= @dirac_config_args['setup'] %>_mbPassword__%
      Host = lhcb-test-mb.cern.ch
      VHost =
      Queues
      {
        dirac.logging
        {
        }
      }
    }
  }
  Sites
  {
    DIRAC
    {
      DIRAC.Jenkins_SSHBatch.ch
      {
        CEs
        {
          diracci.cern.ch
          {
            SSHUser = dirac
            SSHPassword = %TEIGI__<%= @dirac_config_args['setup'] %>_sshPassword_lhcbci-cernvm4-03__%
          }
        }
      }
    }
  }
}
<% if @webportal %>
# This will have Tornado listen on 8000, 8001, ...
# and go through nginx
WebApp
{
  Balancer = nginx
  NumProcesses = <%= @tornado_processes %>
  StaticResourceLinkDir = /opt/dirac/webRoot/resources/
  Schema
  {
    Tools
    {
      Application Wizard = DIRAC.ApplicationWizard
      Job Launchpad = DIRAC.JobLaunchpad
      Notepad = DIRAC.Notepad
      Proxy Upload = DIRAC.ProxyUpload
    }
    Applications
    {
      Dashboards
      {
        Accounting = DIRAC.Accounting
        Kibana = link|https://es-dirac-certification.cern.ch/kibana/
      }
      Administration
      {
        Configuration Manager = DIRAC.ConfigurationManager
        Component History = DIRAC.ComponentHistory
        Proxy Manager = DIRAC.ProxyManager
        Public State Manager = DIRAC.PublicStateManager
        Registry Manager = DIRAC.RegistryManager
        System Administration = DIRAC.SystemAdministration
      }
      Jobs
      {
        Job Monitor = DIRAC.JobMonitor
        Job Summary = DIRAC.JobSummary
      }
      Pilots
      {
        Pilot Monitor = DIRAC.PilotMonitor
        Pilot Summary = DIRAC.PilotSummary
      }
      Resources
      {
        Downtimes = DIRAC.Downtimes
        Request Monitor = DIRAC.RequestMonitor
        Resource Summary = DIRAC.ResourceSummary
        Site Summary = DIRAC.SiteSummary
        Space Occupancy = DIRAC.SpaceOccupancy
      }
      Data
      {
        File Catalog = DIRAC.FileCatalog
        Transformation Monitor = DIRAC.TransformationMonitor
      }
    }
  }
}
<% end %>
