input {
  # This queue is used for dirac components
  <% @logstash_config_args['mb_brokers'].each do |mbhost| %>
  stomp {
     type => "stomp"
     destination => "<%= @logstash_config_args['mb_destination'] %>"
     host => "<%= mbhost %>"
     port => 61713
     user => "<%= @logstash_config_args['mb_user'] %>"
     password => "%TEIGI__DIRAC-Certification_mbPassword__%"
     codec => "json"
  }
  <% end %>
}

filter{
  if [type] == "stomp" {

    # If there is an exception, print it multiline
    # This is the way to test if a variable is defined
    if "" in [exc_info]{
      mutate {
        gsub => [
          "exc_info", "\\n", "\n"
        ]
      }
    } else {
      # otherwise, add the field as empty string so that it does not display
      mutate {
        add_field => {"exc_info" => ""}
      }
    }

    # If levelname is not defined, we can infer that several other infos
    # are missing, like asctime. So define them empty.
    if !("" in [levelname]){
      mutate {
        add_field => {"levelname" => ""
                      "asctime" => ""}
      }
    }
    date {
      # DIRAC logs have microsec precision
      match => [ "asctime", "yyyy-MM-dd HH:mm:ss,SSSSSS" ]
      timezone => "UTC"
    }

    # Adding a label "sec_log" for those messages that we want to add
    # also to the securitylog indices
    if [message] in ["Executing action", "Incoming request", "Returning response","Unauthorized query"] {
      mutate {
        replace => { sec_log => "true" }
      }
    } else {
      mutate {
        replace => { sec_log => "false" }
      }
    }
    # we want to create the index based on the component name
    # but the component name has a "/" in it, so replace it
    # with a "-", and set it lowercase
    # We do it in two separate mutate filter to make sure
    # of the order
    mutate {
      copy => { "componentname" => "componentindex" }
    }
    mutate {
      gsub => [
        "componentindex", "/", "-"
      ]
      lowercase => [ "componentindex" ]
    }
  }
}


output {
  if [type] == "stomp" {
    opensearch {
        index    => "dirac-logs-%{componentindex}-%{+xxxx.ww}"
        hosts    => <%= @logstash_config_args['es_hosts'] %>
        user     => "<%= @logstash_config_args['es_user'] %>"
        template_name => "lhcb-dirac-logs_default"
        manage_template => "false"
        password => "%TEIGI__DIRAC-Certification_esPassword__%"
        ssl => "true"
        cacert => "/opt/dirac/etc/grid-security/cas.pem"
      }
  }
  if [sec_log] == "true" {
    opensearch {
        index    => "dirac-securitylog-%{+yyyy.MM}"
        hosts    => <%= @logstash_config_args['es_hosts'] %>
        user     => "<%= @logstash_config_args['es_user'] %>"
        template_name => "lhcb-dirac-logs_default"
        manage_template => "false"
        password => "%TEIGI__DIRAC-Certification_esPassword__%"
        ssl => "true"
        cacert => "/opt/dirac/etc/grid-security/cas.pem"
      }
  }
}
